<center>
<div class="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <% @left_indexes.each do |i| %>
          <%= link_to(get_redirect_path(@companies[i].id)) do %>
            <div class="element" id=i>
              <%= image_tag(get_url(i), class: 'image') %>
              <p class="text"> <%= upcase(get_name(i)) %> </p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="span4">
        <% @right_indexes.each do |i| %>
          <%= link_to(get_redirect_path(@companies[i].id)) do %>
            <div class="element" id=i>
              <%= image_tag(get_url(i), class: 'image') %>
              <p class="text"> <%= upcase(get_name(i)) %> </p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="span4">
        <div class="regulamin">
          <div class="header_line"></div>
          <div class="head"><%= get_regulation_main_title %></div>
          <div class="header_line"></div>
          <div class="text">
            <%= get_regulation_main_description %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
</center>
