<center>
<div class="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">

        <% @left_indexes.each do |i| %>
          <%= link_to(root_path) do %>
            <div class="element">
              <%= image_tag(get_url(i), class: 'image') %>
              <p class="text"> <%= get_name(i) %> </p>
            </div>
          <% end %>
        <% end %>

      </div>
      <div class="span4">
        <% @right_indexes.each do |i| %>
          <%= link_to(root_path) do %>
            <div class="element">
              <%= image_tag(get_url(i), class: 'image') %>
              <p class="text"> <%= get_name(i) %> </p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="span4">
        <div class="regulamin">
          <div class="header_line"></div>
          <div class="head"><%= get_regulation_title %></div>
          <div class="header_line"></div>
          <div class="text">
            <%= get_regulation_description %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
</center>
