<% provide(:title,t("pages.log_in")) %>

<div class="space2"></div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">
      <%= form_for(:session, url: sessions_path) do |f| %>
        <p>
          <%= f.label :login, t("user.login") %></br>
  	      <%= f.text_field :login %>
	      </p>
        <p>
  	      <%= f.label :password, t("user.password") %></br>
  	      <%= f.password_field :password %>
	      </p>
	      <p>
          <%= f.submit t("pages.log_in"), class: "btn btn-large btn-primary" %>
	      </p>
      <% end %>
    </div>
  </div>
</div>
