<% for company in @companies %>
  <%= link_to(get_redirect_path(company.id)) do %>
    <div class="left_link_main">
      <%= company_name(company) %>
    </div>   
  <% end %>

  <!-- HERE I ADD MODELS -->

  <% for model in company.models %>
    <%= link_to(get_redirect_path2(company.id,model.id)) do %>
      <div class="left_link_second" name="company<%= company.id %>">
        <%= model.name %>
      </div>
    <% end %>

  <!-- HERE I ADD VERSIONS -->

    <% for version in model.versions %>
      <%= link_to("") do %>
        <div class="left_link_thirth" name="model<%= model.id %>">
          <%= version.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

