
<table>
  <% for product in @products %>
    <div class="header_line"></div>
    <div class="product">
      <div class="image">
        <%= image_tag image_url(product) %>
      </div>
      <div class="right">
        <div class="title">
          <%= upcase(product.name) %>
        </div>

        <div class="horizontal-line"></div>

        <div class="description">
          <%= product.description %>
        </div>

        <div class="horizontal-line"></div>

        <div class="price">
          <%= t("product.price") + ": " + print_price(product.price) %>
        </div>
        
        <br/>
        
        <div class="button1">
          <%= button_to "Add to order", root_path, class: "button1" %>
        </div>

      </div>
    </div>
  <% end %>

</table>
