
<table>
  <% for product in @products %>
    <div class="header_line"></div>
    <div class="product_display">
      <div class="image">
        <%= image_tag image_url(product) %>
      </div>
      <div class="right">
        <div class="title">
          <%= upcase(product.name) %>
        </div>

        <div class="horizontal-line"></div>

        <div class="description">
          <%= product.description %>
        </div>

        <div class="horizontal-line"></div>

        <p>
        <%= t("product.price")  %>:
        <%= label_tag print_price(product.price), nil, class: "price" %> 
        </p>

        <br/>
        
        <%= link_to t("offert.more_about_product"), product, class: "button1" %>
        <%= link_to(t("offert.add_to_order"),
                    new_order_path(product_id: product.id),
                    class: "button1") if session[:user_id] %>
      </div>
    </div>
  <% end %>

</table>
