<%= form_for @order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :address_id %><br />
    <%= f.number_field :address_id %>
  </p>
  <p><%= f.submit, class: "btn btn-large btn-primary" %></p>
<% end %>
