<% provide(:title, t("offert.offert")) %>

<div class="space2"></div>

<div class="order">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4 offset4">
        <div class="top">
        <p>
          <%= t("order.status") %>:
          <%= @order.status %>
        </p>
        <p>
          <%= t("order.user") %>:
          <%= @order.user.login %>
        </p>
        <p>
          <%= t("order.address") %>:
          <%= @order.address.city + ", " + @order.address.street_and_number %>
        </p>
        <center>
          <%= link_to t("order.change"), edit_order_path(@order), class: "linki" %>
          <%= link_to t("submit"), root_path, class: "linki" %>
        </center>
        </div>
      </div>
    </div>
  </div>

  <div class="space2"></div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8 offset2">
        <% for order_item in @order.order_items %>

          <div class="header_line"></div>

          <div class="order_item">
            <div class="image">
              <%= image_tag image_url(order_item.product) %>
            </div>
            <div class="title">
                <%= upcase(order_item.name) %>
            </div>
            <div class="horizontal-line"></div>
            <div class="right">
              <p>
                <%= t("product.price")  %>:
                <%= label_tag print_price(order_item.price), nil, class: "price" %>
              </p>
              <p>
                <%= t("order.count") %>:
                <%= order_item.count %>
                <%= link_to "+", root_path, class: "linki2" %>
                <%= link_to "-", root_path, class: "linki2" %>
              </p>
              </br>
              <p>
                <%= link_to t("product.description"), root_path, class: "linki" %>
                <%= link_to "Usuń przedmiot", root_path, class: "linki" %>
              </p>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="space2"></div>
</div>


<div class="space2"></div>
