<% provide(:title, t("offert.offert")) %>

<div class="space2"></div>

<div class="order">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4 offset4">
        <div class="top">
        <p>
          <%= t("order.status") %>:
          <%= @order.status %>
        </p>
        <p>
          <%= t("order.user") %>:
          <%= @order.user.login %>
        </p>
        <p>
          <%= t("order.address") %>:
          <%= @order.address.city + ", " + @order.address.street_and_number %>
        </p>
        <p>
          <%= t("order.total") %>:
          <%= label_tag print_price(@order.total), nil, class: "price" %>
        </p>
          <% if @order.status == "nowy" %>
            <center>
              <%= link_to t("order.change"), edit_order_path(@order), class: "linki" %>
              <%= link_to t("submit"), submit_path(id: @order), confirm: "abc", class: "linki" %>
            </center>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="space2"></div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8 offset2">
        <% for order_item in @order.order_items %>

          <div class="header_line"></div>

          <div class="order_item">
            <div class="image">
              <%= image_tag image_url(order_item.product) %>
            </div>
            <div class="right">
            <%= t("name") + ": " + upcase(order_item.name) %>
            <div class="horizontal-line"></div>
              <p>
                <%= t("product.price")  %>:
                <%= label_tag print_price(order_item.price), nil, class: "price" %>
              </p>
              <p>
                <%= t("order.count") %>:
                <%= order_item.count %>
                <%= link_to "+", increase_path(order_id: @order, order_item_id: order_item), class: "linki2" %>
                <%= link_to "-", decrease_path(order_id: @order, order_item_id: order_item), class: "linki2" %>
              </p>
              </br>
              <p>
                <%= link_to t("product.description"), order_item.product, class: "linki" %>
                <%= link_to "Usuń przedmiot", root_path, class: "linki" %>
              </p>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="space2"></div>
</div>


<div class="space2"></div>
