<% title "Order" %>

<div class="space2"></div>

<div class="order">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4 offset4">
        <div class="top">
        <p>
          <%= t("order.status") %>:
          <%= @order.status %>
        </p>
        <p>
          <%= t("order.user") %>:
          <%= @order.user.login %>
        </p>
        <p>
          <%= t("order.address") %>:
          <%= @order.address.city + ", " + @order.address.street_and_number %>
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="space2"></div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8 offset2">
        <% for order_item in @order.order_items %>

          <div class="header_line"></div>

          <div class="order_item">
            <div class="image">
              <%= image_tag image_url(order_item.product) %>
            </div>
            <div class="right">
              <div class="title">
                <%= upcase(order_item.name) %>
              </div>
              <div class="horizontal-line"></div>

              <p>
                <%= t("product.price")  %>:
                <%= label_tag print_price(order_item.price), nil, class: "price" %> 
              </p>
              <p>
                item count:
                <%= order_item.count %>
              </p>
              <br/>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>

  <div class="space2"></div>

</div>


<div class="space2"></div>
