<% provide(:title, t("pages.admin_options.all_versions")) %>

<div class="space_table"></div>

<div class="versions">
<center>
  <table>
    <tr>
      <th><%= t("company.photo") %></th>
      <th>Nazwa producenta</th>
      <th>Nazwa modelu i wersji</th>
    </tr>
    <% for company in @companies %>
      <tr>
        <td><%= image_tag image_url(company), size: "100x100" %></td>
        <td><%= company.name %></td>
        <td>
        <% for model in company.models %>
          <div class="item">
            <%= model.name %>
            <% for version in model.versions %>
              <div class="item2">
                -&nbsp<%= version.name %>
                <%= link_to t("edit"), edit_version_path(version) %>
                <%= link_to t("delete"), version, confirm: t("confirmation"), method: :delete %>
              </div>
            <% end %>
          </div>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</center>
</div>

<div class="space_table"></div>

