<%= form_for @address do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :city, "Miasto" %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :street_and_number, "Ulica i nr domu" %><br />
    <%= f.text_field :street_and_number %>
  </p>
  <p>
    <%= f.label :post_code, "Kod pocztowy" %><br />
    <%= f.number_field :post_code %>
  </p>
  <p><%= f.submit "Zatwierdź" %></p>
<% end %>
