<%= form_for @address do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :street_and_number %><br />
    <%= f.text_field :street_and_number %>
  </p>
  <p>
    <%= f.label :post_code %><br />
    <%= f.number_field :post_code %>
  </p>
  <p><%= f.submit %></p>
<% end %>
