<% title "Addresses" %>

<table>
  <tr>
    <th>City</th>
    <th>Street And Number</th>
    <th>Post Code</th>
  </tr>
  <% for address in @addresses %>
    <tr>
      <td><%= address.city %></td>
      <td><%= address.street_and_number %></td>
      <td><%= address.post_code %></td>
      <td><%= link_to "Edytuj", edit_address_path(address) %></td>
      <td><%= link_to "Usuń", address, :confirm => 'Jesteś tego pewny?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
