<% provide(:title, t("pages.user_settings.your_addresses")) %>

<table>
  <tr>
    <th><%= t("address.city") %></th>
    <th><%= t("address.street") %></th>
    <th><%= t("address.post_code") %></th>
  </tr>
  <% for address in @addresses %>
    <tr>
      <td><%= address.city %></td>
      <td><%= address.street_and_number %></td>
      <td><%= address.post_code %></td>
      <td><%= link_to t("edit"), edit_address_path(address) %></td>
      <td><%= link_to t("delete"), address, :confirm => t("confirmation"), :method => :delete %></td>
    </tr>
  <% end %>
</table>
