<%= form_for @brand do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Nazwa" %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Zatwierdź", class: "btn btn-large btn-primary" %></p>
<% end %>
