

<div class="space2"></div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">

      <%= form_for @product do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :name, t("name") %><br />
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :description, t("product.description") %><br />
          <%= f.text_area :description %>
        </p>
        <p>
          <%= f.label :price, t("product.price") %><br />
          <%= f.text_field :price %>
        </p>
        <p><%= f.submit t("submit"), class: "btn btn-large btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="space2"></div>
