<% provide(:title, t("pages.admin_options.all_products")) %>

<div class="space_table"></div>

<center>
  <table>
    <tr>
      <th><%= t("companies.image") %></th>
      <th><%= t("name") %></th>
      <th><%= t("price.description") %></th>
      <th> category </th>
      <th> brand </th>
      <th> car versions </th>
      <th><%= t("product.price") %></th>
    </tr>
    <% for product in @products %>
      <tr>
        <td><%= image_tag image_url(product), size: "80x80" %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category.name if product.category %></td>
        <td><%= product.brand.name if product.brand %></td>
        <td> 
        
        </td> 


        <td><%= product.price %></td>
        
        <td><%= link_to "add car", new_products_car_path(id: product.id) %></td>
        <td><%= link_to t("show"), product %></td>
        <td><%= link_to t("edit"), edit_product_path(product) %></td>
        <td><%= link_to t("delete"), product, :confirm => t("confirmation"), :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</center>

<div class="space_table"></div>

