<div class="header">
	<div class="item">
		<%= link_to t("pages.main_page"), root_path %>
	</div>

	<%= render "header/normal_user" %>
	<%= render "header/admin_user" %>

	<% if current_user.nil? %>
		<div class="item">
			<%= link_to t("pages.log_in"), login_path %>
		</div>
		<div class="item">
			<%= link_to t("pages.register"), new_user_path %>
		</div>
	<% else %>
		<div class="item">
			<%= link_to t("pages.log_out"), logout_path %>
		</div>
	<% end %>
		
</div>

