<!DOCTYPE html>
<html>
  <head>
	<title><%= content_for?(:title) ? yield(:title) : "Shop" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id="container">

      <div class="nationalization">
        <%= link_to image_tag('polish.jpeg', size: "30x45"), action: 'polish', controller: 'languages' %>
        <%= link_to image_tag('english.jpg', size: "30x45"), action: 'english', controller: 'languages' %> 
      </div>

      <div id="top_image">
        <%= image_tag 'http://img10.imageshack.us/img10/290/xvjs.jpg' %>
      </div>

      <%= render "layouts/header" %>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span8 offset2">
              <center>
            <div class="main-content">
              <div class="space"></div>

                <% flash.each do |name, msg| %>
                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                <% end %>

              <div class="title">
                <%= content_tag :h1, yield(:title) %>
              </div>

              <%= yield %>
              <div class="space"></div>
            </div>
              </center>
          </div>
        </div>
      </div>

    </div> 
  </body>
</html>
